/External/packages/
!Tools/
!Tools/MSBuild/
!Tools/MSBuild/msbuild.cmd

# Build output package: keep folder structure only.
/BuildOutput/*
!/BuildOutput/.gitkeep
!/BuildOutput/SceneData/
!/BuildOutput/Resources/

/BuildOutput/SceneData/*
!/BuildOutput/SceneData/.gitkeep

/BuildOutput/Resources/*
!/BuildOutput/Resources/.gitkeep

# VSCode: share project run/build settings only.
/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json
!/.vscode/extensions.json
